body {
  background-color: teal;
}

.jumbotron {
  background-color: grey;
  color: salmon;
  text-align: center;
}

#result {
  display: none;
}

.display-list {
  color: teal;
  font-weight: bold;
  /*text-align: center;*/
  text-align: left;
}

.image-well {
  display: none;
}

#body-well {
  padding: 15px;
  margin-left: 15px;
}

#form-well {
  background-color: teal;
}
